body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    
}

header {
    height: 47px;
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    font-family: "Cairo", sans-serif;
}

header svg {
    height: 14px;
    margin-top: 17px;
    position: relative;
}

.eheader {
    margin-top: 17px;
    position: relative;

}

#barra {
    margin-left: 30px;
}

.ml {
    margin-left: 20px;
}

#eua img {
    height: 20px;
    margin-top: 15px;
    margin-left: 30px;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1.3fr 1.3fr 1.3fr 1.4fr 1fr 1fr;
    grid-template-rows: 80px 80px 431px 270px;
    border: solid 1px;
    justify-content: center;
}

#main div {
    border: solid 1px;
}

#logo {
    grid-column: 2;
}

#nav {
    grid-column: 3/6;
    font-family: "Cairo", sans-serif;
    font-size: 14px;
    color: #252525;

    letter-spacing: 2px;
    display: flex;
}

#nav-bar {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    font-weight: 700;
    width: 80%;
}

#nav-drop {
    position: relative;
}

#drop-menu {
    list-style: none;
    padding: 0;
    position: absolute;
    width: 450%;
    opacity: 0;
    z-index: -99;
    top: 50px;
    transition: 0.5s;
}

#menu {
    grid-row: 2/4;
    grid-column: 2;
}

#busca {
    grid-column: 3/6;
    grid-row: 2;
}

#banner {
    grid-row: 3;
    grid-column: 3/6;
}

#p1 {
    grid-row: 4;
    grid-column: 2;
    width: 210px;
}

#p2 {
    grid-row: 4;
    grid-column: 3;
    width: 210px;
}

#p3 {
    grid-row: 4;
    grid-column: 4;

    width: 210px;
}

#p4 {
    grid-row: 4;
    grid-column: 5;
    width: 210px;
}

#nav svg {
    height: 20px;
    margin-top: 30px;
    position: relative;
    margin-left: 50px;
}

#menu {
    background-color: #7fad39;
    height: 47px;
    display: flex;
    margin-top: 30px;
}

#menu svg {
    height: 20px;
    fill: white;
    position: relative;
    left: 20px;
    top: 10px;
}

#menu-p {
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-left: 30px;
}

#busca {
    display: flex;
}

#search {
    background-color: #7fad39;
    height: 47px;
    display: flex;
    margin-top: 20px;
    margin-right: 240px;
    align-items: center;
    width: 300px;
    justify-content: center;
    font-family: inherit;
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    margin-left: 20px;
}
#search2{background-color: #7fad39;
    height: 47px;
        width: 100px;
    justify-content: center;
    font-family: inherit;
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    align-items: center;
text-align: center;
top: 0;}

#what {
    width: 70%;
    border: none;
    height: 48px;
    font-size: 16px;
    color: #b2b2b2;
    position: relative;
    padding-top: 11px;
    margin-top: 20px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

#all {
    width: 60%;
    float: left;
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    padding-top: 11px;
    position: relative;
    display: flex;
    margin-top: 20px;
    left: 42px;
    width: 500px;
}

#busca svg {
    fill: #7fad39;
    height: 70px;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

#home-nav {
    color: #7fad39;
}

#buscanum {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    width: 370px;
}

#buscanum p {
    margin-top: 18px;
    width: 120px;
}

#buscap2 {
    font-size: 14px;
    color: #6f6f6f;
    top: -12%;
}

#img2 {
    position: relative;
    top: 100%;
}

.ft h2 {
    font-size: 36px;
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.ft p {
    text-align: center;
    color: #7fad39;
}

#aoranges {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 27px;
    align-items: center;
    font-weight: 700;
}

#sgrid {
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 0.75fr);
    grid-template-rows: repeat(3, 1fr);
    border: solid 1px;
    justify-content: center;
    width: 900px;
    align-items: center;
}
#img1 {
    width: 270px;
}

.imgft {
    height: 270px;
    width: 262.5px;
}

#tgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 36px 110px 110px 110px;
    position: relative;
    top: 50px;
    justify-content: center;
    width: 900px;
    align-items: center; 
    margin: auto;
    gap: 20px;
}

#tgrid div {
    height: 30px;}

.l-inicial {
    margin-top: 20px;
}
#sgrid-out {display: flex;
width: 100%;
gap: 20px;
justify-content: center;}
.tgrid-letra{font-weight: 700;
    color: #1c1c1c;
    font-size: 24px;
    display: flex;
}
.lps{
height: 110px;
display: flex;
}
.lps img{position: relative;
    top: -40px;
height: 110px;}
.lps div{height: 110px;
width: 100px;
}
.lps p{position: relative;
right: 100px;
    color: #252525;
    font-weight: 700;}

    #blog{display: flex;}
figure ul{height: 16px;
color: #6f6f6f;
display: flex;
list-style: none;
}
figure svg{fill: #6f6f6f;
height: 16px;}
#final{width: 100%;
height: 420px;
background: #F3F6FA;
padding-top: 70px;}
#logo1{position: relative;
left: 270px;
top: 20px;}
.adress{margin-top: 20px;}
#final{display: grid;
grid-template-columns: 1fr 1.2fr 1.3fr;
grid-template-rows: 2fr 0.4fr;
width: 100%;
border: solid 1px black;}
.useful{color: #1c1c1c;
    font-weight: 700;
    position: relative;}
#final div{border: solid 1px black;}
#uluse{display: flex;
width: 100%;
position: relative;
top: 42px;
left: 100px;
line-height: 30px;
text-align: center;}
#uluse ul{list-style: none;}
.logo{margin: 0;}
.final2div{position: relative;
left:70px;}
#email{   
    font-size: 16px;
    color: #1c1c1c;
    height: 46px;
    border: 1px solid #ededed;
width: 260px;}
#form{display: flex;}
#buttons{position: relative;
top: 20px;}
#buttons button {display: inline-block;

    font-size: 16px;
    color: #404040;
    width: 30px;
    gap: 20px;
    text-align: center;}
    #buttons  :hover{background-color: #7fad39;
    fill: white;
transition: 0.2s;}
.btuonsvg{
    width: 16px;

    border-radius: 50%;
}

.btuonsvg2{
    width: 10px;

    border-radius: 50%;
}
#copy svg{height: 16px;
position: relative;
top: 16px;
left: 3px;}
#copy{display: flex;}
#copy p{border: solid 1px;}
p a{text-decoration: none;}
